# Local Secrets & IDs
.env
.env.local
.ollamaid
*.ollamaid*
*.pub
.ollama/
.ssh/
*.key
id_ed25519

# File types
*.zip
*.so
models/*.gguf

# Dependencies
node_modules/
venv/
.venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class